/* font import */

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

/* main */

body{
    background: #232222;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
}

.preload * { /* prevents chrome bug of firing css transitions onload */
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* centering */

.vcenter{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    margin-top: -150px;
}

.hcenter{
    width: 260px;
    min-width: 260px;
    margin: 0 auto;
    text-align: center;
}

/* text */

h1{
    color: #FAB728;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 4px;
}

h2{
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #FAB728;
    margin-top: 0px;
}

/* input fields */

input{
    position: relative;
    display: inline-block;
    width: 14em;
    height: 30px;
    background: 0%;
    margin: 0 24px 8px 0px;
    color: #FAB728;
    letter-spacing: 2px;
    outline: none;
    border-width: 0 0 1px 0;
    border-color: white;
    caret-color: #FAB728;
    transition: border-color 0.5s;
}

input:focus{
    border-color: #FAB728;
}

input:hover{
    border-color: #FAB728;
}

input:valid{
    border-color: #FAB728;
}

.loginButton{
    position: relative;
    opacity: 0;
    top: 30px;
    padding: 8px 12px;
    color: #FAB728;
    text-decoration: none;
    border: 0.5px #FAB728 solid;
    cursor: default;
    transition: opacity 1s;
}

.loginButton:visited{
    color: #FAB728;
    text-decoration: none;
}

.fadeInButton{ /* for fading animation */
    opacity: 1;
}

/* icons */

.icon{
    position: relative;
    margin: 0 4px -16px 0;
    display: inline-block;
}

.usernameIcon{
    fill: #fff;
    transition: fill 1s;
}

.passwordIcon{
    fill: #fff;
    transition: fill 1s;
}

.iconHover{ /* for colour animation */
    fill: #FAB728;
}

/* top navigaton bar */

section.navBar div{
    width: 100%;
    position: fixed;
    background-color: #FAB728;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1em 1.8em;
    height: 3.4em;
    min-height: 3.4em;
    z-index: 2;
}

section.navBar h2{
    position: fixed;
    font-weight: 700;
    color: #232222;
    display: inline-block;
    margin-top: 1em;
}

section.navBar div a + h2{
    left: 68px;
}

section.navBar div h2 + h2{
    right: 2.4em;
}

section.navBar div h2 a{
    text-decoration: none;
}

section.navBar div h2 a:visited{
    color: #232222;
}

section.navBar img{
    position: fixed;
}

/* side navigation */

nav{
    display: inline-block;
    position: fixed;
    top: 64px;
    padding: 24px;
    background-color: #232222;
    height: 100%;
    visibility: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div a svg{ /* menu icon */
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 4px;
}

/* homepage - body */

.sideMargin{ /* keeps a fixed "margin" on the right side */
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 24px;
    z-index: 1;
    background: #232222;
}

section{
    margin-left: 48px;
    width: 100%;
}

section div{
    position: static;
    margin: 8px;
    padding: 16px;
    float: left;
    background-color: #333030;
    min-height: 100px;
}

section div ul li{
    margin: 2px 0;
}

section.row1 div{
    margin-top: 60px;
    width: 28%;
}

section.row1 div div{ /* two column courses */
    margin: 0px 36px 0px 0px;
    padding: 0px;
    float: left;
    min-height: auto;
    height: 50px;
    max-height: 50px;
}

section.row2 div{
    width: 91.5%;
}

section.row2 div ul{ /* float news */
    float: left;
}

.newsTitles{
    margin-left: 16px;
}

section.row3 div{
    width: 20.01%;
}

section div ul li a{
    color: #FAB728;
}

section div ul li a:visited{
    color: #FAB728;
}

/* responsive design */

@media screen and (max-width: 1000px){
    section.row1 div{
        width: 26%;
    }
    section.row2 div{
        width: 88%;
    }
    section.row3 div{
        width: 42%;
    }
}

@media screen and (max-width: 725px){
    section.row1{
        margin-top: 60px;
    }
    section.row1 div{
        width: 80%;
        margin-top: 8px;
    }
    section.row1 div.termSummary div{
        margin: 0px 15% 0px 0px;
        width: auto;
    }
    section.row1 div.termSummary ul{
        width: 90px;
    }
    .newsDates{
        display: none;
    }
    .newsTitles{
        margin-left: 0;
    }
    section.row2 div{
        width: 80%;
    }
    section.row3 div{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    section.row1 div, section.row2 div, section.row3 div{
        width: 70%;
    }
    section.row1 div div{
        margin: 0px;
        clear: both;
        height: auto;
        max-height: 200px;
    }
}